<p style="color: green"><%= notice %></p>

<h1>Publicaciones</h1>
<%= link_to "Nueva publicación", new_post_path %>
<div id="posts">
  <% @posts.each do |post| %>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <%= render post %>
      <%= link_to "Ver la publicación", post, class:"card-link"%>
      </div>
  <% end %>
</div>




    
   